<section class="blog">
  <div class="container">
    <div class="blog-title">Блог</div>
    <div class="blog-options">
      <div class="blog-option">
        <div class="blog-option-item"  *ngFor="let filter of appliedFilter"
             (click)="deleteFilterOption(filter.url)">
          <span>{{filter.name}}</span>
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="1.93553" y1="3.15002" x2="13.9563" y2="15.1708" stroke="#709FDC" stroke-linecap="round"/>
            <line x1="13.9236" y1="3.12984" x2="1.90278" y2="15.1507" stroke="#709FDC" stroke-linecap="round"/>
          </svg>
        </div>
      </div>

      <div class="blog-search">
        <div class="blog-search-hide-view" (click)="changingIsSorting()">
          <span>Фильтр</span>
          <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.00002 7.50003C7.41668 7.50003 6.83335 7.27503 6.39168 6.83337L0.95835 1.40003C0.716683 1.15837 0.716683 0.758366 0.95835 0.516699C1.20002 0.275033 1.60002 0.275033 1.84168 0.516699L7.27502 5.95003C7.67502 6.35003 8.32502 6.35003 8.72502 5.95003L14.1583 0.516699C14.4 0.275033 14.8 0.275033 15.0417 0.516699C15.2833 0.758366 15.2833 1.15837 15.0417 1.40003L9.60835 6.83337C9.16668 7.27503 8.58335 7.50003 8.00002 7.50003Z"
              fill="#071739"/>
          </svg>
        </div>

        <div *ngIf="isSorting" class="blog-sort-change">
          <div class="blog-sort-change-title" (click)="changingIsSorting($event)">
            <span>Фильтр</span>
            <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.00002 7.50003C7.41668 7.50003 6.83335 7.27503 6.39168 6.83337L0.95835 1.40003C0.716683 1.15837 0.716683 0.758366 0.95835 0.516699C1.20002 0.275033 1.60002 0.275033 1.84168 0.516699L7.27502 5.95003C7.67502 6.35003 8.32502 6.35003 8.72502 5.95003L14.1583 0.516699C14.4 0.275033 14.8 0.275033 15.0417 0.516699C15.2833 0.758366 15.2833 1.15837 15.0417 1.40003L9.60835 6.83337C9.16668 7.27503 8.58335 7.50003 8.00002 7.50003Z"
                fill="#071739"/>
            </svg>
          </div>
          <div class="blog-sort-change">
            <div *ngFor="let category of categories; index as i"
                 class="blog-sort-change-title"
                 (click)="changingIsSorting($event)"
                 [class.active]="category.isChange">
              <span>{{ category.name }}</span>
              <svg *ngIf="category.isChange" width="7" height="3" viewBox="0 0 7 3" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M0.44 2.24H6.728V0.752H0.44V2.24Z" fill="#071739"/>
              </svg>
              <svg *ngIf="!category.isChange" width="12" height="11" viewBox="0 0 12 11" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M11.12 4.904H6.656V0.511999H5.144V4.904H0.68V6.32H5.144V10.688H6.656V6.32H11.12V4.904Z"
                      fill="#BEBEBE"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="blog-article" *ngIf="articles">
      <article-card [article]="article" *ngFor="let article of articles"></article-card>
    </div>

    <div *ngIf="pages.length > 1" class="pagination">
      <div class="pagination-arrow"
           [class.disabled]="activeParams.page ? activeParams.page === 1 : true"
           (click)="openPrevPage()">
        <svg width="10" height="19" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="9 1 1 9.5 9 18"/>
        </svg>
      </div>
      <div class="pagination-pages">
        <a *ngFor="let page of pages"
           class="pagination-page"
           (click)="openPage(page)"
           [class.active]="activeParams.page ? activeParams.page === page : (page === 1)">
          {{ page }}
        </a>
      </div>
      <div class="pagination-arrow"
           (click)="openNextPage()"
           [class.disabled]="activeParams.page ? activeParams.page === pages.length : true">
        <svg width="10" height="19" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="1 1 9 9.5 1 18"/>
        </svg>
      </div>
    </div>
  </div>
</section>

