@import "../../../../assets/styles/_variables";


.header {
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-menu {
      margin-left: 100px;
      margin-right: 227px;

      nav ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          margin-right: 30px;
          list-style: none;

          a {
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: $black-text-color;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              color: $blue-text-color;
            }
          }
        }

      }
    }

    .header-menu-phone {
      font-weight: 500;
      font-size: 16px;
      padding-right: 40px;
      color: $blue-text-color;
      text-decoration: none;
    }

    .header-menu-actions {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }

        .header-action-text {
          margin-left: 7px;
          font-size: 16px;
          color: $black-text-color;
          padding-top: 2px;
        }
      }
    }
  }

